@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import 'leaflet/dist/leaflet.css';

:root {
  --custom-color: theme('colors.blue.500');
  --custom-rgb: 59, 130, 246;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.faq-section button[aria-expanded='true'] i { 
  transform: rotate(180deg); 
}

#mobile-menu.active { 
  transform: translateY(0); 
  opacity: 1; 
  visibility: visible; 
}

.navbar-scrolled { 
  @apply shadow-md; 
}

/* Leaflet Map Fixes */
.leaflet-container {
  height: 100%;
  width: 100%;
}
